{
  "ignition": {
    "version": "3.2.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
            "{{ core_pub_key }}"
        ]
      },
      {
        "name": "ansible",
        "groups": [
            "core",
            "adm",
            "sudo",
            "docker",
            "wheel"
        ],
        "sshAuthorizedKeys": [
            "{{ ansible_pub_key }}"
        ]
      },
      {
        "name": "clusteradmin",
        "groups": [
            "core",
            "adm",
            "sudo",
            "docker",
            "wheel"
        ],
        "sshAuthorizedKeys": [
            "{{ ansible_pub_key }}"
        ]
      }
    ]
  },
  "storage": {
{% if ( node_type is defined ) and ( node_type == 'storage' ) %}
    "disks": [
      {
        "device": "/dev/disk/by-path/virtio-pci-0000:05:00.0",
        "partitions": [
          {
            "label": "data1",
            "number": 1,
            "wipePartitionEntry": true
          }
        ],
        "wipeTable": true
      }
    ],
    "filesystems": [
      {
        "device": "/dev/disk/by-partlabel/data1",
        "format": "ext4",
        "path": "{{ mount_path }}",
        "label": "data1",
        "with_mount_unit": true
      }
    ],
{% endif %}
    "files": [
      {
        "group": {
          "name": "root"
        },
        "user": {
          "name": "root"
        },
        "path": "/etc/hostname",
        "contents": {
          "source": "data:,{{ item.hostname }}"
        }
      },
      {
        "group": {
          "name": "root"
        },
        "user": {
          "name": "root"
        },
        "path": "/etc/sysctl.d/reverse-path-filter.conf",
        "contents": {
          "source": "data:,net.ipv4.conf.all.rp_filter%3D1"
        }
      }
    ]
  }
  {% if ( node_type is defined ) and ( node_type == 'storage' ) %},
  "systemd": {
    "units": [
      {
        "contents": "# Generated by FCCT\n[Unit]\nBefore=local-fs.target\nRequires=systemd-fsck@/dev/disk/by-partlabel/data1\nAfter=systemd-fsck@/dev/disk/by-partlabel/data1\n\n[Mount]\nWhere={{ mount_path }}\nWhat=/dev/disk/by-partlabel/data1\nType=ext4\n\n[Install]\nRequiredBy=local-fs.target",
        "enabled": true,
        "name": "var-data1.mount"
      }
    ]
  }
{% endif %}
}
